DATABASE_URL="postgresql://postgres.qfstwliffxjwucmfheaz:zHpt3DBnTRyJmvg2@aws-0-ap-south-1.pooler.supabase.com:6543/postgres"
AUTH_SECRET="random-32-character-string-here"
NEXTAUTH_URL="http://localhost:3000"
